export BOSH_GW_USER=vagrant
export BOSH_GW_HOST=192.168.50.4
export BOSH_GW_PRIVATE_KEY="${PWD}/../bosh-lite/.vagrant/machines/default/virtualbox/private_key"

export BOSH_ENVIRONMENT=bosh-lite
export BOSH_DEPLOYMENT=stolon
